name: Job - Test Medium

on:
  workflow_call:
    secrets:
      CLIENT_ID:
        required: true
      PRIVATE_KEY:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v6
      - name: Update Rust toolchain
        run: rustup update stable && rustup default stable
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Run tests
        run: cargo test --test acceptance -- -c 1
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          PRIVATE_KEY : ${{ secrets.PRIVATE_KEY }}
          TEST_GITHUB_TARGET_OWNER: ${{ github.actor }}
